body {
    color: #333;
    font-size: 24px;
    line-height: 1.42857;
}

li {
    list-style: none;
}

#question_itself {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.login_container {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    border: 1px double #dfdfdf;
    margin-top: 5%;
    padding: 1rem;
}

.login_header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 35px auto;
}

.login_wrapper {
    margin: 29px auto;
}

.error_input {
    border: 1px double #e20600;
}

.result_link {
    float: left;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    color: #272727;
}

.logout_link {
    float: right;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
    color: #272727;
}

.login_failed {
    color: red;
}

.login_button {
    margin-bottom: 0;
    float: right;
}

.answer_button {
    width: 94px;
}

.button {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    padding: 6px 12px;
    text-align: center;
    white-space: nowrap;
    color: white;
    background-color: #22aae4;
}

.main_container {
    clear: both;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.07);
    border: 1px double #dfdfdf;
    margin: 20px auto;
    padding: 0 40px 25px;
    position: relative;
    top: 10px;
}

.main_container_header {
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}

.q_task {
    float: left;
    font-weight: bold;
}

#options {
    margin-top: 0;
}

#options input {
    margin-right: 20px;
}

li {
    height: 35px;
    font-size: 1rem;
}

.b_enabled {
}

.b_disabled {
    background-color: gray;
    display: none;
}

.button_container {
    height: 36px;
}

.answered {
    background-color: green;
}

.correct {
    color: #008800;
}

#correct_percents {
    color: green;
    font-size: 50px;
}

#incorrect_percents {
    color: red;
    font-size: 50px;
}

.pln {
    font-size: 10px;
}
.pre.prettyprint {
    font-size: 2rem;
}